/* 测试样式 */
#top_main, #nav, #banner, #main, #foot_box {
    border: 1px solid #000;
}

/* 布局样式 */
#top_box, #top_main, #nav, #banner, #main, #foot_box, #footer {
    width: 1211px;
    margin: 0 auto;
}

/* #top 灰色长条 */
#top {
    /* 宽度，高度，背景颜色，行高 */
    width: 100%;
    height: 30px;
    background-color: #f7f7f7;
    line-height: 30px;
}

#top_box img {
    /* 上外边距，右外边距 */
    margin-top: 9px;
    margin-right: 5px;
}

#top_box > ul > li {
    float: left;
    margin-right: 5px;
}

/* 列表项中的b标记，模拟分割线、边框 */
#top_box > ul > li b {
    border-left: 2px solid #ddd;
    margin-right: 5px;
}

/* 会员俱乐部：背景图像处理 */
li.vip a {
    /* 左内边距：(24+5)，背景属性 */
    padding-left: 29px;
    background: url("../Images/vip.jpg") no-repeat left center;
}

/* 企业频道：背景图像处理 */
li.bjd a {
    /* 左内边距：26，背景属性 */
    padding-left: 26px;
    background: url("../Images/dakehu.jpg") no-repeat left center;
}

/* 手机京东：背景图像切换 */
li.app_jd a {
    /* 左内边距，行内快，高度，行高，背景属性 */
    padding-left: 18px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    background: url("../Images/iconlist_2.png") no-repeat -128px -360px;
}

/* 手机京东背景换图  */
li.app_jd a:hover {
    background-position: -128px -399px;
}

/* 客户服务 相对定位 */
li.service {
    /* 相对定位 */
    position: relative;
}

/* 客户服务 */
li.service > a {
    /* 左右内边距模拟元素宽度 */
    padding: 0 15px;
    /* 行内快，高度(26)，行高 */
    display: inline-block;
    height: 26px;
    line-height: 26px;
    /* 边框：左右上(透明) */
    border: 1px solid transparent;
    border-bottom: 0;
    /* 背景 */
    background: url("../Images/jt_down.jpg") no-repeat 94% center;
}

/*li.service>a:hover {*/
/*!* 边框颜色为灰色，背景颜色改白色，更换背景图 *!*/
/*border-color: #ddd;*/
/*background-color: #fff;*/
/*background-image: url("../Images/jt_up.jpg");*/
/*}*/
li.service:hover > a {
    /* 边框颜色为灰色，背景颜色改白色，更换背景图 */
    border-color: #ddd;
    background-color: #fff;
    background-image: url("../Images/jt_up.jpg");
}

/* 客户服务->弹出菜单 */
li.service ul {
    /* 绝对定位，偏移属性，宽度 边框 背景色 */
    position: absolute;
    top: 27px;
    left: 7px;
    width: 80px;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    /* 默认隐藏 */
    display: none;
}

/* 客户服务->弹出菜单项目 */
li.service ul li {
    /* 高度 行高 文字水平居中 */
    height: 30px;
    line-height: 30px;
    text-align: center;
}

li.service:hover ul {
    display: block;
}

/* -------------------------------------------------- */

/* 2. top_main 开始~~~~~~~ */

#top_main {
    height: 80px;
    position: relative;
}

#top_main > a {
    position: relative;
    top: 7px;
}

#search_box {
    /* 左浮动，宽度，左右外边距 */
    float: left;
    width: 500px;
    margin-left: 40px;
    margin-right: 80px;
    position: relative;
    top: 18px;
}

#search_box div.search {
    /* 充当搜索栏背景那一横条 */
    /* 宽度，高度，背景颜色 */
    width: 100%; /*可省略*/
    height: 32px;
    background-color: #E4393C; /*#E4393C号称"京东红"*/
    /* 边框或内边距 */
    /*border: 3px solid #E4393C;*/
    padding: 3px;

}

#search_box input.search_inp {
    /* 宽度，高度，取消边框，奇效轮廓，改变框模型 */
    width: 420px;
    height: 26px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

#search_box .search_btn {
    /* 宽度，高度，取消边框，背景颜色，文字：大小，颜色，加粗 */
    height: 26px;
    width: 70px;
    background-color: #E4393C;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#search_box div.search_hot{
    margin-top: 5px;
    color: #999;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.search_hot a{
    color: #999;
}

div#top_main:after {
    clear: both;
}

.top_box {
    height: 30px;
    width: 80px;
    border: 1px solid #666;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}

/* 我的京东 */
.my_jd {
    margin-right: 12px;
}

.my_jd>a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 80px;
    background: url("../Images/jd.jpg") no-repeat center center;
    background-size: contain;
}

/* 我的购物车 */
.my_cart {
    width: 90px;
    margin-right: 100px;
}

.my_cart > a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 90px;
    background: url("../Images/gwc.jpg") no-repeat center;
    background-size: contain;
}




/* ----footer start---- */
#footer{
    background-color: #f7f7f7;
    padding: 15px 0;
}

.mod_copyright_split{
    margin: 0 10px;
    color: #ccc;
}

.mod_copyright_links{
    text-align: center;
}

.mod_copyright_info{
    padding: 10px 0;
    text-align: center;
}

.mod_copyright_auth{
    text-align: center;
}

.mod_copyright_auth_ico{
    /* 宽度，高度，行内块元素 */
    /* 因为a们为行内块元素所以得先修改为行内块后才允许修改宽高 */
    width: 108px;
    height: 40px;
    display: inline-block;
}
.mod_copyright_auth_ico_1{
    background-image: url("../Images/jy.jpg");
}
.mod_copyright_auth_ico_2{
    background-image: url("../Images/kx.jpg");
}
.mod_copyright_auth_ico_3{
    background-image: url("../Images/cy.jpg");
}
.mod_copyright_auth_ico_4{
    width: 112px;
    background-image: url("../Images/cx.jpg");
}

.mod_copyright_info p{
    padding: 3px 0;
}


/* ----footer end---- */